@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

.hackersincero-start-code {
    margin-top: 0%;
    width: auto;
    justify-content: center;
    height: 92vh;
}

#hackersincero-body {
    background-color: #FAFAFA;
}

.center {
    text-align: center;
    width: 100%;
}

#about-div, #supporters-div {
    margin-top: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 40px;
}

#about-div h1 {
    font-size: 32px;
}

#about-hacker-sincero-div, #supporters-hacker-sincero-div {
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 30px;
}

#supporters-hacker-sincero-div {
    width: 80% !important;
}

#about-hacker-sincero-div p {
    font-size: 18px;
}

#about-hacker-sincero-div p a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

#supporters-hacker-sincero-div a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    width: 220px;
    margin: 0 auto;
}

.supporter-div {
    width: 220px;
    margin: 0 auto;
}

.supporter-image-div {
    margin-top: 20px;
}

.supporter-image {
    width: 140px;
    height: 140px;
}

.supporter-image:hover {
    opacity: 0.8;
}

#connect-hp-cell-div {
    border: 2px solid #0084FF;
    background-color: #FDFDFD;
}

#connect-hp-cell-div h2:hover {
    color: #FA2020;
}

#connect-hp-cell-link {
    color: #0084FF;
}

@media (max-width: 576px) {
    #about-div h1 {
        font-size: 25px;
    }

    #about-hacker-sincero-div p {
        font-size: 15px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    #about-div h1 {
        font-size: 28px;
    }

    #about-hacker-sincero-div p {
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #about-div h1 {
        font-size: 30px;
    }

    #about-hacker-sincero-div p {
        font-size: 17px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
}