@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.homepage-start-code {
    margin-top: 0%;
    width: auto;
    display: flex;
    justify-content: center;
    height:92vh;
    font-family: 'Roboto Mono', monospace;
}

#homepage-body {
    background-color: #E6E6E6;
}

.center {
    text-align: center;
    width: 100%;
}

#main-page-items {
    margin-top: 24px;
}

#main-page-image-header {
    margin-bottom: 24px;
}

#main-page-img-header {
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

#home-page-text {
    font-size: 18px;
}

#welcome-text {
    margin-top: 6px;
    font-size: 16px;
}

#choose-text {
    font-size: 16px;
    margin-top: -10px;
}

#main-page-links {
    margin-top: 26px;
}

#main-page-links a {
    display: inline-block;
    margin-bottom: 20px;
    padding-top: 14px;
    text-decoration: none;
    width: 100% !important;
    height: 38px;
    border-radius: 20px;
    align-items: center;
    color: #FFFFFF;
    background-color: black;
    -o-transition:.8s;
    -ms-transition:.8s;
    -moz-transition:.8s;
    -webkit-transition:.8s;
    transition:.8s;
    cursor: pointer;
}

#main-page-links a:hover {
    background-color: #0589DC;
}

.font-bold {
    font-weight: bold !important;
}

#social-media-div {
    padding-bottom: 34px;
}

#social-media-span p {
    margin-top: 32px;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    position: inline;
}

#social-media-links {
    margin-top: -10px;
}

#social-media-links a {
    font-weight: bold;
    font-size: 32px;
    padding-right: 18px;
    text-decoration: none;
}

.facebook {
    color: #4267B2 !important;
}

.github {
    color: #000000 !important;
}

.instagram {
    color: #BC2A8D !important;
}

.linkedin {
    color: #0077B5 !important;
}

.telegram {
    color: #229ED9 !important;
}

.twitch {
    color: #6441A5 !important;
}

.twitter {
    color: #1DA1F2 !important;
}

.youtube {
    color: #FF0000 !important;
}

@media (max-width: 576px) {
    #social-media-span p {
        font-size: 20px;
    }

    #social-media-links a {
        font-size: 28px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    #social-media-span p {
        font-size: 21px;
    }

    #social-media-links a {
        font-size: 28px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #social-media-span p {
        font-size: 22px;
    }

    #social-media-links a {
        font-size: 30px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #social-media-span p {
        font-size: 24px;
    }

    #social-media-links a {
        font-size: 32px;
    }
}