@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.musics-start-code {
    margin-top: 0%;
    width: auto;
    justify-content: center;
    height:92vh;
    font-family: 'Open Sans', sans-serif;
}

#musics-body {
    background-color: #FAFAFA;
}

.center {
    text-align: center;
    width: 100%;
}

#main-page-items {
    margin-top: 24px;
}

.musicCardClass {
    padding-right: 30px;
}

.music-card-div {
    width: 300px;
    display: inline-block;
}

.music-card-image {
    width: 300px;
    height: 300px;
}

.music-title-div {
    background-color: #2E2E2E;
    margin-top: -21px !important;
    color: #FFFFFF;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
}

.music-title {
    padding-top: 12px;
}

.choose-streaming-text {
    margin-top: -5px;
    font-size: 11px;
    padding-bottom: 12px;
}

.music-list-div {
    margin-top: -12px;
    padding-top: 4px;
    border-left: 2px solid rgba(0.14, 0.14, 0.14, 0.3);
    border-right: 2px solid rgba(0.14, 0.14, 0.14, 0.3);
    border-bottom: 2px solid rgba(0.14, 0.14, 0.14, 0.3);
}

.music-streaming-list {
    list-style-type: none;
    list-style: none;
    margin-left: -28px;
}

.music-streaming-list li {
    margin-bottom: 20px;
}

.ignore-li-bottom {
    margin-bottom: 0px !important;
}

.music-streaming-list li hr {
    margin-top: 16px;
    margin-left: 2px;
    height: 1px;
    background-color: #FF0000;
    width: 260px;
}

.music-streaming-image {
    width: 120px;
    margin-top: 1px;
}

.music-streaming-link {
    text-align: right;
    float: right;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
    margin-top: 4px;
    padding: 6px 12px;
    font-weight: bold;
    background-color: #3f00bd;
    color: #FFFFFF;
    border-radius: 8px;
    -o-transition:.8s;
    -ms-transition:.8s;
    -moz-transition:.8s;
    -webkit-transition:.8s;
    transition:.8s;
}

.music-streaming-link:hover {
    background-color: #BB0000;
}

#preSave-button-div {
    margin-top: 66px;
}

#preSave-button {
    border-radius: 16px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #BB0000;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    -o-transition:.8s;
    -ms-transition:.8s;
    -moz-transition:.8s;
    -webkit-transition:.8s;
    transition:.8s;
    cursor: pointer;
}

#preSave-button:hover {
    background-color: #101010;
}

#social-media-div {
    padding-bottom: 34px;
}

#social-media-span p {
    margin-top: 32px;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    position: inline;
}

#social-media-links {
    margin-top: -10px;
}

#social-media-links a {
    font-weight: bold;
    font-size: 32px;
    padding-right: 18px;
    text-decoration: none;
}

.facebook {
    color: #4267B2 !important;
}

.github {
    color: #000000 !important;
}

.instagram {
    color: #BC2A8D !important;
}

.linkedin {
    color: #0077B5 !important;
}

.telegram {
    color: #229ED9 !important;
}

.twitch {
    color: #6441A5 !important;
}

.twitter {
    color: #1DA1F2 !important;
}

.youtube {
    color: #FF0000 !important;
}

@media (max-width: 576px) {
    #social-media-span p {
        font-size: 20px;
    }

    #social-media-links a {
        font-size: 28px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    #social-media-span p {
        font-size: 21px;
    }

    #social-media-links a {
        font-size: 28px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #social-media-span p {
        font-size: 22px;
    }

    #social-media-links a {
        font-size: 30px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #social-media-span p {
        font-size: 24px;
    }

    #social-media-links a {
        font-size: 32px;
    }
}